{% load static %}
<script>
  var url_api = 'http://' + '{{ request.get_host }}' + '/last_sender/';
  var elm = document.getElementById('notification');
  var temp = '{{ latest_user_id }}';
  var is_changed = false;
  var sender, lastSenderInterval;
  var connectionStatus = document.getElementById('connectionStatus');
  var logoutBTN = document.getElementById('logoutBTN');
  var switchDarkmode = document.getElementById('darkmodeSwitch');
  var darkMode1 = document.getElementsByName('dark-mode-1');
  var darkMode2 = document.getElementsByName('darkMode2');
  var darkMode3 = document.getElementsByName('darkMode3');

  function updateSender(senderI) {
    if (senderI == 1) {
      elm.classList.add("text-danger");
      document.title = 'Google';
    }
    else if (senderI == 2) {
      elm.classList.remove("text-danger");
      document.title = '(1)Google';
    }
  }

  function getSender() {
    fetch(url_api)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not OK');
        }
        connectionStatus.className = "d-none";
        logoutBTN.classList.remove("d-none")
        return response.json();
      }
      )
      .then(data => {
        sender = data.sender;
        if (temp != sender) {
          is_changed = true;
          temp = sender;
        }
        else is_changed = false;
        if (is_changed) {
          updateSender(sender);
        }
      })
      .catch(error => {
        connectionStatus.classList.remove('d-none');
        logoutBTN.classList.add("d-none")
      });
  };

  $(document).ready(function () {
    updateSender(temp);
    lastSenderInterval = setInterval(getSender, 500);


    $('#darkmodeSwitch').change(function(){

      for (var i = 0; i < darkMode1.length; i++){
        darkMode1[i].classList.toggle('dark-mode-body');
        darkMode1[i].classList.toggle('bg-white');
      }

      for (var i = 0; i < darkMode2.length; i++){
        darkMode2[i].classList.toggle('bg-light');

        darkMode2[i].classList.toggle('dark-mode-search');
      }

      for (var i = 0; i< darkMode3.length; i++){
        darkMode3[i].classList.toggle('dark-mode-3');
        darkMode3[i].classList.toggle('bg-light');
      }

      document.getElementById('chatModal').classList.toggle('dark-mode-body');
      document.getElementById('chatModal').classList.toggle('bg-white');

      document.getElementById('modalDialog').classList.toggle('dark-mode-3');
      document.getElementById('modalDialog').classList.toggle('bg-white');
      document.getElementById('modalDialog').classList.toggle('text-white');

    })


  });

</script>