<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <title>Google</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static  'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static  'assets/dist/css/all.css' %}" rel="stylesheet">
  <link href="{% static  'mystyle.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-end p-4 align-items-center">
        <div id="connectionStatus" class="d-none">
          <button class="btn btn-danger btn-sm rounded-pill" type="button" disabled>
            <i class="fa-solid fa-circle-notch fa-spin me-2"></i>Mất kết nối...
          </button>
        </div>
        {% if request.user.is_authenticated %}
        <a id="logoutBTN" href="{% url 'dangxuat' %}" class="position-relative">
          <img src="
          {% if request.user.username == 'bb' %}
          {% static 'imgs/girl.jpg' %}
          {% else %}
          {% static 'imgs/boy.jpg' %}
          {% endif %}
          " alt="" class="rounded-circle position-relative" width="40px">
          {% else %}
          <a id="logoutBTN"
            href="https://accounts.google.com/signin/v2/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin"
            class="btn btn-sm btn-outline-secondary rounded-pill position-relative">
            Đăng nhập
            {% endif %}
            <span
              class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
              id="notification">
              <span class="visually-hidden">New alerts</span>
            </span>
          </a>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-7 col-lg-3 text-center">
        <a href="https://www.google.com/">
          <img src="{% static 'imgs/google.png' %}" class="img-fluid" alt="">
        </a>
      </div>
    </div>
    {% block content %}

    
    {% endblock %}

  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 mt-3 text-center ">
        {% if request.user.is_authenticated %}
        <p style="font-size: smaller;">
          <i class="fas fa-circle me-1 fa-xs text-success"></i> <span class="text-reset fw-bolder">Nghệ An, Việt Nam</span>
        </p>
        {% else %}
        <p style="font-size: smaller;">
          <i class="fas fa-circle me-1 fa-xs text-secondary"></i> <span class="text-reset fw-bolder">Không xác định</span>
        </p>
        {% endif %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9">
        <hr>
        <div class="d-flex justify-content-center" style="font-size: small;">
          <p class="me-3">
            <a href="https://about.google/?utm_source=google-VN&utm_medium=referral&utm_campaign=hp-footer&fg=1"
              class="text-decoration-none text-reset">
              Giới thiệu
            </a>
          </p>
          <p class="me-3">
            <a href="https://policies.google.com/privacy?hl=vi&fg=1" class="text-decoration-none text-reset">
              Bảo mật
            </a>
          </p>
          <p class="me-3">
            <a href="https://policies.google.com/terms?hl=vi&fg=1" class="text-decoration-none text-reset">
              Điều khoản
            </a>
          </p>
          <p>
            <a href="https://www.google.com/preferences?hl=vi&fg=1" class="text-decoration-none text-reset">
              Cài đặt
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

  {% include 'baseJS.html' %}
  {% if request.user.is_authenticated %}
  {% include 'detailJs.html' %}
  {% endif %}

</body>

</html>