<div class="modal" id="chatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" name="chatModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">
        </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModalBtn"></button>
      </div>
      <div class="modal-body">
        {% for i in '10' %}
        <p class="fs-6 text-dark m-0 " id="mess{{i}}">
        </p>
        <small> <span id="lastsender{{i}}"></span> <span id="lastseen{{i}}" class="text-muted fst-italic"></span>
        </small>
        <img src="#" alt="" class="img-fluid d-none border rounded mt-3" id="image{{i}}">

        {% if not forloop.last %}

        <hr>
        {% endif %}
        {% endfor %}

        <form method="post" class="needs-validation" enctype="multipart/form-data" id="chatForm" novalidate>
          {% csrf_token %}
<div class="has-valdation">

          <textarea class="form-control mt-3" id="exampleFormControlTextarea1" rows="3" name="mess" required></textarea>
          </div>
          <div class="row d-flex justify-content-end align-items-center mt-3 mb-4 g-1">
            <div class="col-7">
              <div class="input-group">
                <label class="input-group-text" for="id_file"><i class="fas fa-image"></i></label>
                {{ form.file }}
              </div>
            </div>
            <input type="hidden" name="sender" value="{{ request.user.id }}">

            <div class="col">
              
       <button type="submit" class="btn btn-primary  btn-sm w-100" name="send" id="sendMessAjax"><i
                class="fas fa-paper-plane"></i></button>

              <button class="btn btn-warning btn-sm w-100 d-none" type="button" id="waitSendBtn" disabled>
                
                <i class="fas fa-paper-plane me-2 fa-fade"></i>Đang gửi...
              </button>

              <button class="btn btn-danger btn-sm w-100 d-none" type="button" id="connectSendBtn" disabled>
                <i class="fa-solid fa-circle-notch fa-spin me-2"></i>Mất kết nối...
              </button>

            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>