{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row justify-content-center mt-5">
  <div class="col-11 col-lg-5">
    <a href="{% url 'dangxuat' %}" class="text-decoration-none">
      <div class="input-group ">
        <input disabled  type="text"
          class="form-control rounded-pill text-center border-end-0 rounded-end bg-light" id="exampleInputEmail1"
          aria-describedby="basic-addon2" placeholder="Tìm kiếm hoặc nhập URL">
        <span class="input-group-text  border-start-0 rounded-pill rounded-start bg-light" id="basic-addon2"><i
            class="fas fa-microphone text-muted"></i></span>
      </div>
    </a>
  </div>
</div>


<div class="row justify-content-center pt-4 px-4">
  <div class="col-3 col-lg-1">
    <a href="https://kenh14.vn/" class="text-decoration-none">

      <div class="p-2 bg-light  rounded">
        <img src="{% static 'imgs/kenh14.png' %}" class="img-fluid" alt="">
      </div>
      <p class="text-muted mt-2 lh-sm text-trun">
        Kênh tin tức giải trí - Xã hội - Kenh14.vn
      </p>
    </a>

  </div>
  <div class="col-3 col-lg-1">
    <a href="https://facebook.com/" class="text-decoration-none">

      <div class="p-2 bg-light  rounded">
        <img src="{% static 'imgs/facebook.png' %}" class="img-fluid" alt="">
      </div>
      <p class="text-muted mt-2 lh-sm text-trun">
        Facebook
      </p>
    </a>
  </div>
  <div class="col-3 col-lg-1">
    <a href="https://shopee.vn/" class="text-decoration-none">

      <div class="p-2 bg-light  rounded">
        <img src="{% static 'imgs/shoppee.png' %}" class="img-fluid" alt="">
      </div>
      <p class="text-muted mt-2 lh-sm text-trun">
        Shopee Việt Nam | Mua và bán trên ứng dụng di động
      </p>
    </a>
  </div>
  <div class="col-3 col-lg-1" onclick="function_second()">
      <div class="p-2 bg-light  rounded">
        <img src="{% static 'imgs/tiki.png' %}" class="img-fluid" alt="">
      </div>
      <p class="text-muted mt-2 lh-sm text-trun">
        Tiki - Mua hàng online giá tốt, hàng chuẩn, ship nhanh
      </p>
  </div>
</div>
<div class="row justify-content-center pb-4 px-4">

  <div class="col-3 col-lg-1" onclick="function_first()">
    <div class="p-3 bg-light  rounded text-center">
      <i class="fas fa-star fs-2 text-primary"></i>
    </div>
    <p class="text-muted mt-2 lh-sm text-trun">
      Dấu trang
    </p>
  </div>
  <div class="col-3 col-lg-1 text-center">
    <a href="{% url 'dangxuat' %}" class="text-decoration-none">
      <div class="p-3 bg-light  rounded ">
        <i class="fas fa-list-ul fs-2 text-primary"></i>
      </div>
      <p class="text-muted mt-2 lh-sm text-trun">
        Danh sách đọc
      </p>
    </a>
  </div>

  <div class="col-3 col-lg-1 text-center">
    <a href="{% url 'dangxuat' %}" class="text-decoration-none">
      <div class="p-3 bg-light  rounded">
        <i class="fas fa-laptop fs-2 text-primary"></i>
      </div>
      <p class="text-muted mt-2 lh-sm text-trun">
        Các thẻ gần đây
      </p>
    </a>
  </div>
  <div class="col-3 col-lg-1 text-center">
    <a href="{% url 'dangxuat' %}" class="text-decoration-none">
      <div class="p-3 bg-light  rounded">
        <i class="fas fa-history fs-2 text-primary"></i>
      </div>
      <p class="text-muted mt-2 lh-sm text-trun">
        Nhật ký
      </p>
    </a>
  </div>
</div>




<!-- Modal -->
{% include 'chatModal.html' %}


{% endblock %}
