<script>
    var is_show_modal = false;
    var count = 0;
    var modal = document.getElementById('chatModal');
    var chatModal = new bootstrap.Modal(modal);
    var modalStatus = bootstrap.Modal.getInstance(modal);
    var chat_api = 'http://' + '{{ request.get_host }}' + '/chat/';
    var lastSender1, lastSender0, date1, date0;
    var getMessInterval;

    function getMessRealtime() {
            fetch(chat_api)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('mess0').innerHTML = data[0]['mess']
                    document.getElementById('mess1').innerHTML = data[1]['mess']

                    lastSender1 = data[1]['sender']
                    lastSender0 = data[0]['sender']

                    if (lastSender1 == 1) {
                        document.getElementById('lastsender1').innerHTML = '<i class="far fa-heart text-danger"></i>';
                    }
                    else if (lastSender1 == 2) {
                        document.getElementById('lastsender1').innerHTML = '<i class="far fa-heart text-primary"></i>';
                    }

                    if (lastSender0 == 1) {
                        document.getElementById('lastsender0').innerHTML = '<i class="far fa-heart text-danger"></i>';
                    }
                    else {
                        document.getElementById('lastsender0').innerHTML = '<i class="far fa-heart text-primary"></i>';
                    }

                    date1 = new Date(data[1]['created'])
                    date1 = date1.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', day: 'numeric', month: 'numeric', year: 'numeric' });
                    document.getElementById('lastseen1').innerHTML = date1;

                    date0 = new Date(data[0]['created']);
                    date0 = date0.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', day: 'numeric', month: 'numeric', year: 'numeric' });
                    document.getElementById('lastseen0').innerHTML = date0;


                    if (data[0]['file']) {
                        document.getElementById('image0').src = data[0]['file']
                    }
                    else {
                        var accor = document.getElementById('accordionFlushExample0');
                        if (accor) {
                            accor.style.display = 'none'
                        }
                    }
                    if (data[1]['file']) {
                        document.getElementById('image1').src = data[1]['file']
                    }
                    else {
                        var accor = document.getElementById('accordionFlushExample0');
                        if (accor) {
                            accor.style.display = 'none'
                        }
                    }
                }
                );
        }

    function function_first() {
        count = 1;
        fetch(chat_api)
            .then(response => {
                if (response.status == 404) {
                    window.alert("Quá thời gian. Vui lòng thao tác lại từ đầu");
                    location.reload();
                }
            });
    }
    function function_second() {
        if (count == 1) {
            chatModal.show();
            count = 0;
        }
    }
    function addCaption() {
        var mess_T = document.getElementById('exampleFormControlTextarea1').value
        document.getElementById('imageCaption').value = mess_T
    };

    $(document).ready(function () {
        // lastsender interval instance
        $('#chatModal').on('hidden.bs.modal', function () {
            clearInterval(getMessInterval);
            lastSenderInterval = setInterval(getSender, 500);
        });
        $('#chatModal').on('show.bs.modal', function () {
            clearInterval(lastSenderInterval);
            getMessInterval = setInterval(getMessRealtime, 500);
        });

        $("#chatForm").submit(function (event) {
            $.ajax({
                type: "POST",
                url: "{% url 'ajaxChat' %}",
                data: {
                    'mess': $('#exampleFormControlTextarea1').val()
                },
                success: function () {
                    $('#message').html("OK")
                    $('#exampleFormControlTextarea1').val('')
                }
            });
            return false; //<---- move it here
        });

    //close modal if not event    
    var time = new Date().getTime();
    $("#chatModal").bind("mousemove keypress", function (e) {
        time = new Date().getTime();
    });
    function refresh() {
        if (new Date().getTime() - time >= 60000)
            chatModal.hide()
        else
            setTimeout(refresh, 10000);
    }
    setTimeout(refresh, 10000);
    });

</script>