{% extends 'base.html' %}
{% block content %}
{% load static %}
    <a href="{% url 'dangxuat' %}">
      <img src="{% static 'imgs/ung-thu-phoi-1.jpg' %}" alt="" class="img-fluid rounded border mb-2">
    </a>
    <div class="p-4 p-md-5 mb-4  rounded border">
      <div class="col-md-6 px-0">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="display-6 fst-italic">
            <a href="{% url 'dangxuat' %}" class="text-decoration-none text-reset ">
              Khối u ác tính
            </a>
          </h1>
          <a href="https://hellobacsi.com/">
            <i class="far fa-heart fs-4 fa-beat" id="heart"></i>
          </a>
        </div>
        <hr>
        {% load humanize %}
        <p class="lead my-3">
          <a href="#" onclick="function_first()" class="text-dark text-decoration-none ">Các khối</a>
          <a href="{% url 'dangxuat' %}" class="text-decoration-none text-dark"> u trong cơ thể có hai dạng là lành tính
            và ác tính. Khối u lành tính thường vô hại, trong </a>
            <a href="#" class="text-decoration-none text-dark" onclick="function_second()"> khi khối</a>
            <a href="{% url 'dangxuat' %}" class="text-decoration-none text-dark"> u ác tính chính là biểu
            hiện của ung thư (1). Vậy u ác tính là gì và có..</a>
        </p>
        <p class="lead mb-0"><a href="{% url 'dangxuat' %}" class=" fw-bold">Xem tiếp...</a></p>
      </div>
    </div>
    <!-- Modal -->
    {% include 'chatModal.html' %}
  {% endblock %}