<script>
    var is_show_modal = false;
    var allow_show_modal = false;
    var modal = document.getElementById('chatModal');
    var chatModal = new bootstrap.Modal(modal);

    var modalInstance = bootstrap.Modal.getInstance(modal) // Returns a Bootstrap modal instance

    var modalStatus = bootstrap.Modal.getInstance(modal);
    var chat_api = 'http://' + '{{ request.get_host }}' + '/chat/';
    var usertyping = 'http://' + '{{ request.get_host }}' + '/is_typing/';
    var mess0, mess1, lastSender1, lastSender0, date1, date0, lastMessId;
    var getMessInterval;
    var tempMessId = '{{ mess.id }}';

    var is_show_modal = '{{ is_show_modal }}';

    var is_run_updatemess = false;

    var user = '{{ request.user.id }}';
    var pSender = document.getElementById('psenderStatus')
    var iSender = document.getElementById('isenderStatus')

    // var toastLive = document.getElementById('liveToast');
    // var toast = new bootstrap.Toast(toastLive);



    function initMess() {
        fetch(chat_api)
            .then(response => response.json())
            .then(data => updateMess(data));
    };

    function getMessRealtime() {
        fetch(chat_api)
            .then(response => response.json())
            .then(data => {
                lastMessId = data[0]['id'];
                if (tempMessId != lastMessId) {
                    tempMessId = lastMessId;
                    updateMess(data);
                }
            }
            );
    };

    function updateMess(data) {
        mess0 = data[0]['mess'];
        mess1 = data[1]['mess'];
        lastSender1 = data[1]['sender'];
        lastSender0 = data[0]['sender'];
        date1 = new Date(data[1]['created']);
        date0 = new Date(data[0]['created']);
        file0 = data[0]['file'];
        file1 = data[1]['file'];

        elmMess0 = document.getElementById('mess0');
        elmMess1 = document.getElementById('mess1');

        elmDate0 = document.getElementById('lastseen0');
        elmDate1 = document.getElementById('lastseen1');

        elmLastSender0 = document.getElementById('lastsender0');
        elmLastSender1 = document.getElementById('lastsender1');

        elmMess0.innerHTML = mess0;
        elmMess1.innerHTML = mess1;

        elmImage0 = document.getElementById('image0');
        elmImage1 = document.getElementById('image1');

        function addDateLocale(date) {
            return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', day: 'numeric', month: 'numeric', year: 'numeric' });
        }

        date1 = addDateLocale(date1);
        date0 = addDateLocale(date0);

        elmDate0.innerHTML = date0;
        elmDate1.innerHTML = date1;

        function lastSenderStyle(s, elm) {
            if (s == 1) {
                elm.innerHTML = '<i class="far fa-heart text-danger"></i>';
            }
            else if (s == 2) {
                elm.innerHTML = '<i class="far fa-heart text-primary"></i>';
            }
        };

        lastSenderStyle(lastSender1, elmLastSender1);
        lastSenderStyle(lastSender0, elmLastSender0);

        function addImageStyle(i, e) {
            e.classList.remove('d-none');
            e.src = i;
        }

        if (file0) {
            addImageStyle(file0, elmImage0);
        }
        else {
            elmImage0.classList.add("d-none");
        }

        if (file1) {
            addImageStyle(file1, elmImage1);
        }
        else {
            elmImage1.classList.add("d-none");
        }

    }

    function function_first() {
        allow_show_modal = true;
    }
    function function_second() {
        if (allow_show_modal) {
            chatModal.show();
            allow_show_modal = false;
        }
    }
    function addCaption() {
        var mess_T = document.getElementById('exampleFormControlTextarea1').value;
        document.getElementById('imageCaption').value = mess_T;
    };

    function submitForm() {
        $("#chatForm").submit(function (event) {
            var file_form = document.getElementById('id_file').value;
            sendTyping('False');

            if (!file_form) {
                sendMess();
                return false; //<---- move it here
            };
        });

    };

    function sendMess() {
        $.ajax({
            type: "POST",
            url: "{% url 'ajaxChat' %}",
            data: {
                'mess': $('#exampleFormControlTextarea1').val()
            },
            success: function () {
                $('#message').html("OK")
                $('#exampleFormControlTextarea1').val('')
            }
        });
    }

    function sendTyping(s){
        $.ajax({
            type: "POST",
            url: "{% url 'is_typing' %}",
            data: {
                'status': s
            },
        })
    }

    function autoReloadPage(timesleep) {
        //close modal if not event    
        var time = new Date().getTime();
        $(document).bind("mousemove keypress", function (e) {
            time = new Date().getTime();
        });
        function refresh() {
            if (new Date().getTime() - time >= timesleep)
                location.reload();
            else
                setTimeout(refresh, 10000);
        }
        setTimeout(refresh, 10000);

    };

    function autocloseModal(timewait) {
        //close modal if not event    
        var time = new Date().getTime();
        $("#chatModal").bind("mousemove keypress", function (e) {
            time = new Date().getTime();
        });
        function refresh() {
            if (new Date().getTime() - time >= timewait) {
                chatModal.hide();
            }
            else
                setTimeout(refresh, 10000);
        }
        setTimeout(refresh, 10000);
    }

    function updateSenderStatus(sender){
        pSender.classList.remove("d-none")
        if(sender == 1){
            iSender.classList.remove("text-primary")
            iSender.classList.add("text-danger")
        }
        else{
            iSender.classList.remove("text-danger")
            iSender.classList.add("text-primary")
        }
    };

    function getSenderTyping() {
        fetch(usertyping)
            .then(response => response.json())
            .then(data => {
                var status = data['status'];
                var userTyping = data['sender'];
                if( user != userTyping && status == "True" ){
                    updateSenderStatus(userTyping)
                }
                else{
                    pSender.className = "mt-2 text-muted fst-italic d-none";
                }
            }
            );
    };


    $(document).ready(function () {
        initMess();
        autoReloadPage(300000);
        // autoreload page after 30 minutes
        // lastsender interval instance
        modal.addEventListener('hidden.bs.modal', function (event) {
            clearInterval(getMessInterval);
            clearInterval(getStatusSender);
            lastSenderInterval = setInterval(getSender, 500);
            // do something...
        });
        modal.addEventListener('shown.bs.modal', function (event) {
            // do something...
            clearInterval(lastSenderInterval);
            getMessInterval = setInterval(getMessRealtime, 500);
            getStatusSender = setInterval(getSenderTyping, 500);
            // auto close after 1 minute
            autocloseModal(60000);
        });

        if (is_show_modal == 'True') {
            chatModal.show();
        }

        submitForm();
        swipeRight();

        $("#exampleFormControlTextarea1").on('input', (event) => sendTyping('True'));
    });

    function swipeRight() {

        // target elements with the "draggable" class
        interact('.draggable')
            .draggable({
                // enable inertial throwing
                inertia: true,
                // keep the element within the area of it's parent
                modifiers: [
                    interact.modifiers.restrictRect({
                        restriction: 'parent',
                        endOnly: true
                    })
                ],
                // enable autoScroll
                autoScroll: false,

                listeners: {
                    // call this function on every dragmove event
                    move: dragMoveListener,

                    // call this function on every dragend event
                    end(event) {
                        var textEl = event.target.querySelector('p')

                        textEl && (textEl.textContent =
                            'moved a distance of ' +
                            (Math.sqrt(Math.pow(event.pageX - event.x0, 2) +
                                Math.pow(event.pageY - event.y0, 2) | 0))
                                .toFixed(2) + 'px')
                    }
                }
            })

        function dragMoveListener(event) {
            var target = event.target;
            // keep the dragged position in the data-x/data-y attributes
            var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
            var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

            // translate the element
            target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

            // update the posiion attributes
            target.setAttribute('data-x', x)
            target.setAttribute('data-y', y)
        }

        function resetPosition(event) {
            var target = event.target;
            target.setAttribute('data-x', 0)
            target.setAttribute('data-y', 0)
            target.style.transform = 'translate(0px, 0px)';
        }


        // this function is used later in the resizing and gesture demos
        window.dragMoveListener = dragMoveListener


        /* The dragging code for '.draggable' from the demo above
         * applies to this demo as well so it doesn't have to be repeated. */

        // enable draggables to be dropped into this
        interact('.dropzone').dropzone({
            // only accept elements matching this CSS selector
            accept: '#yes-drop',
            // Require a 75% element overlap for a drop to be possible
            overlap: 0.75,
            // listen for drop related events:
            ondrop: function (event) {
                chatModal.show();
            },
        })
        interact('.drag-drop')
            .draggable({
                inertia: true,
                // startAxis: 'x',
                // lockAxis: 'x',
                modifiers: [
                    interact.modifiers.restrictRect({
                        restriction: 'parent',
                        endOnly: true
                    })
                ],
                autoScroll: true,
                // dragMoveListener from the dragging demo above
                listeners: {
                    move: dragMoveListener,
                    end: resetPosition,
                }
            })
    }
</script>