{% load static %}
<script>
  var url_api = 'http://' + '{{ request.get_host }}' + '/last_sender/';
  var elm = document.getElementById('heart');
  var temp = '{{ latest_user_id }}';
  var is_changed = false;
  var sender, lastSenderInterval;

  function updateSender(senderI) {
    if (senderI == 1) {
      elm.classList.remove("text-primary");
      elm.classList.add("text-danger");
    }
    else if (senderI == 2) {
      elm.classList.remove("text-danger");
      elm.classList.add("text-primary");
    }
  }

  function getSender() {
    fetch(url_api)
      .then(response => response.json())
      .then(data => {
        sender = data.sender;
        if (temp != sender) {
          is_changed = true;
          temp = sender;
        }
        else is_changed = false;
        if (is_changed){
          updateSender(sender);
        }
      });
  };

  $(document).ready(function () {
    updateSender(temp);
    lastSenderInterval = setInterval(getSender, 500);
  });

</script>