{% extends 'base.html' %}

{% block content %}
{% load static %}

  <div class="row justify-content-center mt-5">
    <div class="col-11 col-lg-5">
      <form method="POST" id="loginForm">
        {% csrf_token %}
        <div class="input-group ">
          <input inputmode="decimal" name="pwd" id="input_pwd" type="password"
            class="form-control rounded-pill text-center border-end-0 rounded-end" id="exampleInputEmail1"
            aria-describedby="basic-addon2" placeholder="Tìm kiếm hoặc nhập URL">
          <span class="input-group-text  border-start-0 rounded-pill rounded-start" id="basic-addon2"><i
              class="fas fa-microphone text-muted"></i></span>
        </div>
      </form>
    </div>
  </div>
<script>
  function function_first(){
  location.replace('https://myaccount.google.com/')
}

function function_second(){
  location.replace('https://tiki.vn/')
}
</script>

{% endblock %}